<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-translate-customization" content="9f841e7780177523-3214ceb76f765f38-gc38c6fe6f9d06436-c">
    </meta>

    <title>Edu-Neoxys</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    
    <link href="img/icon1.png" rel="icon">

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

   
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  
    <link href="css/bootstrap.min.css" rel="stylesheet">

   
    <link href="css/style.css" rel="stylesheet">
    <style>
        @media screen and (max-width: 411px) {
            .navbar-toggler {
                background-color: lightblue;
                position: relative;
                left: 40%;
                margin-bottom: 10px;
            }
        }
       .loginregister{
        margin-left: 50%;
       }

         @media screen and  (max-width: 1000px) {
            .loginregister{
           margin: 1.4rem;
       }
         }
         @media screen and  (min-width: 1700px) {
            .loginregister{
                margin-left: 70%;
       }
         }
         @media screen and (min-width: 1400px) and (max-width: 1700px) {
            .loginregister{
                margin-left: 60%;
       }
            }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>


<body>
    <header class="no-print text-gray-600 body-font">
       
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <p class="m-0 fw-bold" style="font-size: 25px;"><img src="img/icon1.png" alt="" height="50px">
                    <span style="color: #fb873f;">Edu-Neoxys</span>
                </p>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div  class="collapse loginregister btn-group navbar-collapse"  id="navbarCollapse">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Login
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/userLogin">User Login</a>
                    <a class="dropdown-item" href="/adminLogin">Admin Login</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0 mb-4">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class=" text-uppercase mb-3 animated slideInDown" style="color: #fb873f;">Best
                                    E-Learning platform</h5>
                                <h1 class="display-3 text-white animated slideInDown">Welcome to Edu-neoxys</h1>
                                <p class=" text-white mb-4 pb-2">Eduneoxys is COER University’s dedicated e-learning platform, offering students and faculty easy access to recorded lectures, course
                                     materials, and interactive learning tools. Empower your education with personalized, on-demand resources tailored to your needs</p>
                                <a href="#Read" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read
                                    More</a>
                                <a href="/userRegister" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carousel-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class=" text-uppercase mb-3 animated slideInDown" style="color: #fb873f;">Welcome to
                                    Edu-Neoxys</h5>
                                <h1 class="display-3 text-white animated slideInDown">Interactive Learning Experience
                                </h1>
                                <p class=" text-white mb-4 pb-2">Learning Made Simple and Accessible Eduneoxys bridges the gap between faculty and students by providing a
                                     centralized hub for all your learning needs.</p>
                                <a href="#Read" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read
                                    More</a>
                                <a href="/userRegister" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-xxl py-5" id="Read">
        <div class="container">
            <div class="row g-5">
    
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start pe-3">About Us</h6>
                    <h1 class="mb-4" style="color: #fb873f;">Welcome to Edu-Neoxys Website</h1>
                    <p class="mb-4">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad tempora a unde aperiam eaque, porro laborum voluptatibus, iure beatae rerum? Eius delectus cumque mollitia quidem eveniet? Facere, maiores corrupti?
                       Corrupti deserunt distinctio nemo eveniet, sit quas perferendis rem temporibus. Facere unde dolore error voluptates illum dignissimos modi in, soluta cupiditate laudantium vero laboriosam quidem quasi perspiciatis, dolorum praesentium. Officiis!
                       Quasi provident voluptates cum ut enim. Culpa accusantium ducimus, autem perferendis provident quibusdam commodi neque doloremque! Dignissimos dicta qui soluta mollitia, veniam quae velit repellat dolor enim, nesciunt ipsum. Optio.
                       Atque itaque dolorem eaque nostrum pariatur tempore velit necessitatibus debitis inventore, et, distinctio neque officia nihil quisquam maxime dicta voluptas ipsum? Consequatur itaque ducimus nihil adipisci rerum non! Minima, ducimus.
                       Atque eaque delectus qui quia labore iusto velit eveniet consequuntur amet excepturi quo, laboriosam sunt quidem! Voluptatibus velit esse quidem perferendis rem ducimus, numquam, ad nulla molestias, blanditiis aperiam corporis?
                    </p>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <p><a class="text-light" href="/about">About Us</a></p>
                    <p><a class="text-light" href="contact.html">Contact Us</a></p>
                    <p><a class="text-light" href="">Privacy Policy</a></p>
                    <p><a class="text-light" href="">Terms & Condition</a></p>
                    <p><a class="text-light" href="">FAQs & Help</a></p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Tanishq Rathi, Roorkee, India 247667</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8859211714</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>rathitanishq2022@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="/">Tanishq Rathi</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>

   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    
    <script>
        (function ($) {
            "use strict";
            var spinner = function () {
                setTimeout(function () {
                    if ($('#spinner').length > 0) {
                        $('#spinner').removeClass('show');
                    }
                }, 1);
            };
            spinner();


           
            new WOW().init();


           
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('.sticky-top').css('top', '0px');
                } else {
                    $('.sticky-top').css('top', '-100px');
                }
            });
            const $dropdown = $(".dropdown");
            const $dropdownToggle = $(".dropdown-toggle");
            const $dropdownMenu = $(".dropdown-menu");
            const showClass = "show";

            $(window).on("load resize", function () {
                if (this.matchMedia("(min-width: 992px)").matches) {
                    $dropdown.hover(
                        function () {
                            const $this = $(this);
                            $this.addClass(showClass);
                            $this.find($dropdownToggle).attr("aria-expanded", "true");
                            $this.find($dropdownMenu).addClass(showClass);
                        },
                        function () {
                            const $this = $(this);
                            $this.removeClass(showClass);
                            $this.find($dropdownToggle).attr("aria-expanded", "false");
                            $this.find($dropdownMenu).removeClass(showClass);
                        }
                    );
                } else {
                    $dropdown.off("mouseenter mouseleave");
                }
            });


           
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('.back-to-top').fadeIn('slow');
                } else {
                    $('.back-to-top').fadeOut('slow');
                }
            });
            $('.back-to-top').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 1500, 'easeInOutExpo');
                return false;
            });


       
            $(".header-carousel").owlCarousel({
                autoplay: true,
                smartSpeed: 1500,
                items: 1,
                dots: false,
                loop: true,
                nav: true,
                navText: [
                    '<i class="bi bi-chevron-left"></i>',
                    '<i class="bi bi-chevron-right"></i>'
                ]
            });


     
            $(".testimonial-carousel").owlCarousel({
                autoplay: true,
                smartSpeed: 1000,
                center: true,
                margin: 24,
                dots: true,
                loop: true,
                nav: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    992: {
                        items: 3
                    }
                }
            });

        })(jQuery);






    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>